::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #424040;
}

.movies_box::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.movies_box {
    display: flex;
    flex-wrap: wrap;
    width: 764px;
    height: 755px;
    /* justify-content: center; */
    margin-top: 10px;
    align-content: flex-start;
    overflow: hidden;
    overflow-y: scroll;
}

.movie-card {
    width: 152px;
    height: 250px;
    padding: 10px;
    justify-content: center;
}

.movie-card img {
    width: 130px;
    height: 185px;
    object-fit: fill;
    border-radius: 5px;
}

/* .movie-poster {
    width: 100%;
} */

.movie-card h3 {
    font-size: 12px;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
    color: white;
}

.movie-card p {
    font-size: 12px;
    font-weight: bold;
    color: #c4c3c3;
}