:root {
    --text: #989898;
    --text-light: #fff;
    --theme-body: #151414;
    --text-news: #d0d0d0;
    --border-news: #272727;
    --blue: #408bea;
}

#container {
    min-height: 100vh;
    background: #424040;
    padding-bottom: 100px;
}

#body_container {
    width: 1200px;
    margin: 0 auto;
    background: var(--theme-body);
}

.body_container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b8b612;
    background: #000;
    padding: 10px;
    line-height: 20px;
}

.body_container_title--text {
    margin: auto 0;
    color: var(--text);
}
.body_container_title--link {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

/* Container */

.movies_main {
    display: flex;
    border-bottom: 1px solid var(--border-news);
}

.movies_container {
    width: calc(100% - 360px);
    padding: 20px;
    height: 100%;
    border-right: 1px solid var(--border-news);
}

/* Aside */
.movies_aside {
    width: 360px;
    padding: 20px;
    height: inherit;
}

.movies_aside_years {
    padding: 10px 0;
}
.movies_aside_years--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--text);
}

.movies_aside_years--list {
    padding: 3px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px;
}
.movies_aside_years--year {
    color: var(--text);
    width: 100%;
    background: #0e0e0e;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    padding: 4px 0;
}

.movies_aside_years--year:hover {
    background: var(--blue);
    color: white;
}

/* News */
.movies_container_news {
    width: 100%;
    padding: 20px;
    border-top: 1px solid var(--border-news);
    color: var(--text-news);
}

.movies_news_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movies_news_header--title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.movies_news_header--title::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15%;
    width: 2px;
    background-color: var(--blue);
}

.movies_news_header--more a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--blue);
}

.movies_news_body {
    padding: 0;
    margin: 0;
}

.movies_news_body_item {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 15px 0;
    border-bottom: 1px solid var(--border-news);
}

.movies_news_body_item-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.movies_news_body_item-date--d {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: var(--blue);
}

.movies_news_body_item-date--m {
    font-size: 10px;
}

.movies_news_body_item-content--header {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.movies_news_body_item-content--des {
    font-size: 14px;
    line-height: 20px;
    color: var(--text);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
